@font-face {
    font-family: "Nerd";
    src: local("Nerd"),
        url(../fonts/nerd.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nerd';
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E2938;
}

.info {
    margin: 1rem 0;
    color: #ffffff;
    align-items: center;
    text-align: center;
    font-weight: normal;
}

.image{
    margin-bottom: 1rem;
}

.go-home-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem;
}